html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Kavivanar", cursive;
  font-weight: normal;
}
h2 {
  font-size: 2rem;
  color: #a51f10;
  margin: 0;
}
a {
  color: rgb(218, 63, 192);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.posted {
  font-size: 0.8rem;
  color: #89a611;
}
footer {
  text-align: center;
  font-size: 0.8rem;
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.leftheader {
  flex-flow: row wrap;
  border: 0px solid red;
  margin-right: 1rem;
}

.rightheader {
  border: 0px solid green;
}

.rightheader p {
  border: 0px solid red;
  margin: 0;
}

.rightheader h1 {
  border: 0px solid blue;
  margin: 2rem 0 0 0;
}

.rightheader h1 {
  color: rgb(218, 63, 192);
}

.wrapper {
  background: whitesmoke;
}

nav ul {
  list-style-type: none;
  display: flex;
  border-top: 2px solid rgb(218, 63, 192);
  border-bottom: 2px solid rgb(202, 124, 51);
  justify-content: center;
  margin-right: 10rem;
  margin-left: 10rem;
  margin-bottom: 2rem;
}

nav li {
  display: inline-block;
  margin: 1rem;
}

article img {
  border-radius: 10%;
  display: flex;
  flex-flow: row wrap;
  margin: 0 1rem 0 10rem;
  border: 1px solid blue;
}

article {
  border: 0px solid blue;
  display: flex;
  align-items: center;
  margin: 0 1rem 3rem 0;
}

.text {
  margin: -2.3rem 10rem 0 0;
  border: 0px solid red;
}

footer ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

footer li {
  margin: 0.2rem 1rem 0.5rem 0;
}

.box {
  border-bottom: 2px solid rgb(218, 63, 192);
  border-top: 2px solid rgb(202, 124, 51);
  margin: 0 10rem 0rem 10rem;
  height: 0.5rem;
}

wrapper {
  margin: 0 auto;
}
